header{
    width: 100%;
    height: 100px;
}
.khoi-tren{
    width:100%;
    height:70px;
}
.khoi-duoi{
    height:30px;
    background-color: var(--color-1);
    bottom: 13px;
    position:relative;
}
.wrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo a img{
    width: 100px;
    height:auto;
    position:relative;
    bottom:20px;
}
.tim-kiem input{
    border: 1px solid var(--color-1);
    padding: 3px 12px; 
    width: 400px;
    position:relative;
    bottom:20px;
}
.tim-kiem input:focus::placeholder {
    color: transparent;
}
.nut-tim-kiem {
    height: 31px;
    width: 31px;
    font-size: 12px;
    background-color:#073954;
    color: white;
    border: none;
    cursor: pointer;
    position:relative;
    right: 6px;
    bottom:22px;
}
.nut-tim-kiem:hover {
    opacity: 0.85;
}
.tai-khoan{
    position:relative;
    top:3.4px;
}
.tai-khoan-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
}
.icon-user i {
    font-size: 20px;
    color: #888;
    position:relative;
    bottom:20px;
}

.text-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    
}
.text-user span{
    bottom:20px;
    position:relative;}
.text-1 {
    font-size: 8px;
    color: #666;
}

.text-2 {
    font-size: 10px;
    font-weight: bold;
    color: #333;
}
.gio-hang{
    position: relative;
    bottom:20px;
}
.tai-khoan-link:hover .text-user {
    color: var(--color-1);
}
.gio-hang a{
    display:flex;
    align-items: center;
}
.gio-hang-text{
    font-size: 13px;
}
.khoi-duoi ul{
    display:flex;
    gap:70px;
}
.khoi-duoi ul li{
    font-size:12px;
    color:#fff;
    padding:5px;
    font-weight: bold;
}
.khoi-duoi ul li:hover a{
    color:#010A0C ;
}
.banner{
    position:relative;
    bottom:14px;
}